#root {
  width: 100%;        /* 🔥 full width */
  max-width: 100%;    /* ❌ 1280px hata */
  margin: 0;          /* ❌ auto hata */
  padding: 0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100%;
}

body {
  display: block;
}